@using TwitchStatClips.TwitchService
@inject TwitchTokenService TokenService

@{
    var games = await TokenService.GetTopGamesAsync();
    var selectedGameName = Context.Request.Query["gameName"].ToString();
    var selectedPeriod = Context.Request.Query["period"].ToString();
    var selectedLang = Context.Request.Query["language"].ToString();

    if (string.IsNullOrEmpty(selectedPeriod))
        selectedPeriod = "week";
}

<!-- Dropdown z grami -->
<div class="dropdown">
    <button class="btn btn-outline-primary dropdown-toggle" type="button"
            id="gameDropdownBtn" data-bs-toggle="dropdown" aria-expanded="false">
        @(String.IsNullOrEmpty(selectedGameName) ? "Wybierz grę" : selectedGameName)
    </button>

    <ul class="dropdown-menu dropdown-menu-dark scrollable-menu" aria-labelledby="gameDropdownBtn">
        @foreach (var game in games)
        {
            <li>
                <a class="dropdown-item @(selectedGameName == game.Name ? "active" : "")"
                   asp-page="/Index"
                   asp-route-gameName="@game.Name"
                   asp-route-period="@selectedPeriod"
                   asp-route-language="@selectedLang">
                    @game.Name
                </a>
            </li>
        }
    </ul>
</div>
